section {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 100px;
  gap: 50px;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo {
  display: flex;
  flex-direction: column;
  position: relative;
}

.photo > menu {
  object-fit: cover;
  overflow: hidden;
  transition: all 0.5s;

}

.menu:hover {
  transform: scale(1.05);
}

.ice {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: #007eff;
  border-radius: 20px;
  border: none;
  padding: 8px 8px 8px 8px;
}

.name {
  font-size: 20px;
}