.redbox {
  background-color: red;
  width: 300px;
  height: 300px;
}

.pinkbox {
  background-color: pink;
}

.bluebox {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.greenbox {
  background-color: green;
  width: 100px;
  height: 100px;
}
