.card {
  width: 240px;
}

.photo {
  width: 240px;
  height: 135px;
  object-fit: cover;
  border-radius: 5px;
}

.name {
  font-size: 16px;
  margin-top: 16px;
}

.type {
  color: #637387;
  font-size: 14px;
}
