.facebook {
  color: white;
  background-color: #1877f2;
  border: 1px solid #1877f2;
  border-radius: 5px;
  padding: 12px 50px 12px 8px;
}

.Apple {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px 50px 12px 8px;
}
