aside > button {
  position: fixed;
  right: 50px;
  bottom: 50px;

  color: white;
  background-color: #ff5160;
  border-radius: 10px;
  padding: 16px 14px;
  border: none;
  font-size: 20px;
}

aside > button:hover {
  background-color: #dc4753;
}