header {
  background-color: white;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;

  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-weight: bold;
}

.link {
  border-radius: 25px;
  color: #1f1f1f;
  border: none;
  padding: 15px 15px;
}

.link:hover {
  background-color: #e8e8e8;
}

.links > .ably {
  color: #ff5160;
}

.hambuger {
  display: none;
}

@media screen and (max-width:760px) {
  .hambuger {
    display: block;
  }

  .link {
    display: none;
  }
}

