.one {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-image: url("../images/섹션1.avif");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 60px;
  color: white;
  text-align: center;
  line-height: 1.3;
  font-weight: bold;
}

@media screen and (max-width:760px) {
  .text {
    font-size: 40px;
  }
}